/* Nova Tool CSS */
ul.step-tabs li {
  display: inline-block;
}

.nova-wizard .step-buttons {
  border: 0px #fff dashed;
  text-align:right;
  padding: 1rem;
  padding-right: 0;
}

.nova-wizard .button {
  float:right;
  width: 14rem;
  height: 4rem;
  margin: 1rem;
  margin-right: 0;
  font-size: 13pt;
}

.nova-wizard .icon {
  margin: 1rem;
}

.nova-wizard label {
  width: 240px;
  font-size: 13pt;
}

.nova-wizard .step-container {
  display: flex;
  overflow-x: hidden; /* auto for user scrolling */
  white-space: nowrap; /* Prevents wrapping onto next line */
}

.nova-wizard .step-wrapper {
  flex: 0 0 auto; /* This prevents the items from shrinking */
  width: 100%; /* Set to desired width */
  white-space: normal; /* Allow the content to wrap inside the step */
  padding: 3rem;
  padding-top: 4rem;
}

.nova-wizard .step-wrapper h1 {
  font-size: 18pt;
  margin-bottom: 3rem;
  padding-left: 2rem;
}


.nova-wizard #progress-container {
  margin-top: -1px;
  width: 100%;
  height: 5px;
  border-radius: 4px;
}

.nova-wizard #progress-bar {
  width: 0;
  height: 100%;
  background-color: rgba(var(--colors-primary-500), 0.8);
  border-radius: 4px;
}

.nova-wizard.finished #progress-bar {
  background-color: rgba(var(--colors-green-500), 0.4);
}

.nova-wizard.finished div.finished {
  padding: 6rem;
  padding-top: 10rem;
  text-align: center;
  font-size: 22pt;
}

.nova-wizard .reset-button {
  text-align: center;
}

.nova-wizard .reset-button .button {
  float: none;
}